reference/
*.jl.cov
*.jl.mem
/Manifest.toml
.DS_Store
scratch/
*.o
*.mod
examples/data/*_band.*
examples/data/*.wout
examples/data/silicon.*
docs/build/
docs/src/index.md
docs/Manifest.toml
examples/output/*.jls
